
.row {
    border: 5px solid #00927a;
    height: 100%;
    padding: 10px;
    margin: 0;
}

.col {
    border: 2px dashed #830007;
    padding: 20px;
    height: 100%;
    margin: 0;
}

.par {
    background-color: aquamarine;
}

.impar {
    background-color: antiquewhite;
}